@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 200ms ease-in-out;
}

body {
  font-family: "Manrope", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-margin-block: end;
}

button {
  transition: all ease-in-out 100ms;
}

/* button:hover {
  scale: 1.05;
} */

option {
  min-height: 1.5rem !important;
  padding: 14px !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
